.cardDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
  }
  .cardMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
  }


  .title {
    font-family: Greycliff CF, sans-serif;
    font-weight: 900;
    color: var(--mantine-color-black);
    line-height: 1.2;
    font-size: rem(16px);
    margin-top: var(--mantine-spacing-xs);
  }

